@import url(./nullstyle.scss);
html {
  overflow-x: hidden;
}

.container {
  padding: 15px;
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
}

.card__name {
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  color: #121212;
  margin-bottom: 10px;
}

.card__descr {
  font-family: Manrope;
  font-weight: 400;
  line-height: 16px;
  font-size: 12px;
  color: #696969;
  margin-bottom: 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  margin-bottom: 100px;
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .menu .menu__item {
  margin-right: 40px;
}

.navbar .menu .menu__item .menu__link {
  color: #121212;
  text-align: center;
}

.navbar .menu .menu__item .menu__link span {
  color: #4D77FF;
}

.button {
  border: 0px;
  background: none;
  padding: 12px 22px;
  border-radius: 15%;
}

.button--blue {
  background: #4D77FF;
  color: white;
}

.title {
  font-family: Manrope;
  font-size: 54px;
  font-weight: 700;
  line-height: 70px;
  max-width: 634px;
  margin-bottom: 26px;
}

.title span {
  color: #4D77FF;
}

.descr {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #696969;
  max-width: 601px;
  margin-bottom: 26px;
}

.header__inner {
  position: relative;
}

.header__inner > .button {
  margin-bottom: 211px;
}

.header__inner .card {
  z-index: 0;
  padding: 20px;
  background: white;
  left: 60%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7%;
}

.header__inner .card .card__img {
  margin-bottom: 10px;
}

.header__inner .doctor--img {
  position: absolute;
  bottom: 0;
  right: -5%;
}

.header__inner .elipse--img {
  z-index: -1;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.header__inner .menu-btn {
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5%;
  left: 90%;
  opacity: 0;
}

.header__inner .menu-btn span {
  width: 30px;
  height: 3px;
  background: #4D77FF;
  position: absolute;
  top: 50%;
  left: 50%;
}

.header__inner .menu-btn .span1 {
  opacity: 1;
}

.header__inner .menu-btn .span2 {
  top: 0;
}

.header__inner .menu-btn .span3 {
  top: 25%;
}

.header__inner .menu-btn--active .span1 {
  opacity: 0;
}

.header__inner .menu-btn--active .span2 {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__inner .menu-btn--active .span3 {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__inner .menu-mobile {
  -webkit-transform: translatex(-500%);
          transform: translatex(-500%);
  border: 3px solid #4D77FF;
  background: white;
  position: absolute;
  top: 20%;
  left: 0;
}

.header__inner .menu-mobile .menu__item {
  font-size: 50px;
  margin: 50px 50px;
}

.header__inner .menu-mobile .menu__item a {
  color: black;
}

.header__inner .menu-mobile--active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.section__name {
  color: #4D77FF;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  font-size: 14px;
}

.section__title {
  color: #121212;
  font-family: Manrope;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.015em;
  text-align: left;
  font-size: 32px;
}

.section__descr {
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  font-size: 14px;
  color: #696969;
}

.solution__inner {
  margin-top: 100px;
}

.solution__inner .section__name, .solution__inner .section__title {
  text-align: center;
}

.solution__inner .steps {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solution__inner .steps .steps__item {
  max-width: 500px;
  -webkit-box-shadow: 20px 20px 20px 20px rgba(0, 0, 255, 0.1);
          box-shadow: 20px 20px 20px 20px rgba(0, 0, 255, 0.1);
  border-top: 2px solid #4D77FF;
  padding: 40px 50px;
  margin-right: 30px;
}

.solution__inner .steps .steps__item:last-child {
  margin-right: 0px;
}

.solution__inner .steps .steps__item .steps__img {
  margin-bottom: 20px;
}

.solution__inner .steps .steps__item .steps__title {
  margin-bottom: 20px;
}

.finding {
  margin-bottom: 150px;
}

.finding__inner {
  position: relative;
  margin-top: 180px;
}

.finding__inner .card {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 30%;
  background: white;
  padding: 20px;
  border-radius: 5%;
}

.finding__inner .card button {
  color: #4D77FF;
  background: #C7C9D9;
}

.finding__inner .doctor--img {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(0%, -7%);
          transform: translate(0%, -7%);
}

.finding__inner .elipse--img {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(0%, 20%);
          transform: translate(0%, 20%);
}

.finding__inner .section__title {
  max-width: 450px;
  margin-top: 10px;
}

.finding__inner .section__descr {
  max-width: 530px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.finding__inner .condition {
  margin-bottom: 26px;
}

.finding__inner .condition .condition__item {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finding__inner .condition .condition__item img {
  margin-right: 12px;
}

.finding__inner .doctors .doctor__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finding__inner .doctors .doctor__item img {
  max-width: 46px;
  max-height: 46px;
}

.shedule {
  margin-top: 350px;
}

.shedule .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shedule .container > img {
  border-radius: 40%;
  border: 2px solid #4D77FF;
  margin-right: 60px;
}

.shedule .container .section__title {
  max-width: 441px;
  margin-bottom: 26px;
}

.shedule .container .section__descr {
  max-width: 472px;
  margin-bottom: 26px;
}

.shedule .container .condition__item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shedule .container .condition__item img {
  margin-right: 12px;
}

.rating__inner {
  margin-top: 150px;
}

.rating__inner .section__name {
  text-align: center;
}

.rating__inner .section__title {
  text-align: center;
  margin-bottom: 50px;
}

.rating__inner .rating__collumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating__inner .rating__collumns .rating__item {
  margin-right: 30px;
  border-top: 2px solid #4D77FF;
  padding: 45px 80px;
  -webkit-box-shadow: 20px 20px 20px 20px rgba(0, 0, 255, 0.1);
          box-shadow: 20px 20px 20px 20px rgba(0, 0, 255, 0.1);
}

.rating__inner .rating__collumns .rating__num {
  font-family: Manrope;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: center;
  font-size: 32px;
  margin-bottom: 12px;
}

.rating__inner .rating__collumns .rating__title {
  font-family: Manrope;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  font-size: 14px;
  color: #121212;
}

.rating__inner .rating__collumns .rating__descr {
  font-family: Manrope;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  font-size: 12px;
  color: #696969;
}

.review__inner {
  margin-top: 150px;
  margin-bottom: 50px;
}

.review__inner .section__title, .review__inner .section__descr {
  text-align: center;
  margin-bottom: 11px;
}

.review__inner .container {
  overflow: hidden;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.swiper-wrapper {
  max-width: 1440px;
  margin: 0px auto;
}

.swiper-slide {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0px 0px;
}

.swiper-slide .review__text {
  right: 0;
  max-width: 533px;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: center;
  font-family: Manrope;
}

.swiper-slide .review__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(100%, 750%);
          transform: translate(100%, 750%);
}

.swiper-slide .review__img {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-140%, -25%);
          transform: translate(-140%, -25%);
}

.footer {
  margin-top: 400px;
  padding-bottom: 100px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inner .footer__text .footer__text-title {
  color: #121212;
  font-family: Manrope;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: left;
  font-size: 24px;
  margin-bottom: 12px;
}

.footer__inner .footer__text .footer__text-title > span {
  color: #4D77FF;
}

.footer__inner .footer__text .footer__text-descr {
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-align: left;
  font-size: 14px;
  color: #121212;
  max-width: 430px;
}

.footer__inner .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inner .footer__menu .footer__collumn {
  margin-right: 70px;
}

.footer__inner .footer__menu .footer__collumn .menu__title {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #121212;
  margin-bottom: 16px;
}

.footer__inner .footer__menu .footer__collumn .footer__item {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-align: left;
  margin-bottom: 10px;
}

.footer__inner .footer__menu .footer__collumn .footer__item .footer__link {
  color: #121212;
}

.footer__inner .footer__menu .footer__collumn .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__inner .footer__menu .footer__collumn .socials .socials__item {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */